# Dart & Flutter related
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/flutter_export_environment.sh
**/flutter_export_environment.json

# macOS related
.DS_Store

# IDEs and Editors
# IntelliJ / JetBrains
.idea/
*.iml

# VS Code
.vscode/
.history/

# Other
*.log
*.tmp
*.swp

.env.local

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Application

var/data/config.yaml
var/db/database.sqlite
