services:
  # BACKEND SERVER
  server:
    container_name: fastybird-backend-server
    build:
      context: .
      dockerfile: .docker/dev/backend/Dockerfile
    depends_on:
      - influxdb
    environment:
      # Container specific environment variables
      TZ: ${FB_APP_TZ:-UTC}
      # Application specific environment variables
      NODE_ENV: development
      FB_CONFIG_PATH: ${FB_CONFIG_PATH:-/app/var/data}
      FB_SEED_DATA_PATH: ${FB_APP_SEED_DATA_PATH:-/app/var/data/seed}
      FB_INFLUXDB_HOST: http://influxdb:${FB_INFLUXDB_PORT:-8086}
      FB_INFLUXDB_DB: ${FB_INFLUXDB_DATABASE:-fastybird}
      FB_INFLUXDB_USER: ${FB_INFLUXDB_USER:-admin}
      FB_INFLUXDB_PASSWORD: ${FB_INFLUXDB_PASSWORD:-admin}
    volumes:
      - ./:/app:delegated
      - server_node_modules:/app/node_modules
    ports:
      - "${BACKEND_PORT:-3000}:3000"
    networks:
      - fastybird
    restart: unless-stopped

  # ADMIN CLIENT
  admin:
    container_name: fastybird-admin-client
    build:
      context: .
      dockerfile: .docker/dev/admin/Dockerfile
    depends_on:
      - server
    environment:
      # Container specific environment variables
      TZ: ${FB_APP_TZ:-UTC}
      # Application specific environment variables
      NODE_ENV: development
      FB_CONFIG_PATH: ${FB_CONFIG_PATH:-/app/var/data}
    volumes:
      - ./:/app:delegated
      - admin_node_modules:/app/node_modules
    ports:
      - "${ADMIN_PORT:-3003}:3003"
    networks:
      - fastybird
    restart: unless-stopped

  # TIME SERIES DATABASE
  influxdb:
    image: influxdb:1.8
    container_name: fastybird-influxdb
    environment:
      # Container specific environment variables
      FB_INFLUXDB_DB: ${FB_INFLUXDB_DATABASE:-fastybird}
      FB_INFLUXDB_ADMIN_USER: ${FB_INFLUXDB_USER:-admin}
      FB_INFLUXDB_ADMIN_PASSWORD: ${FB_INFLUXDB_PASSWORD:-admin}
    volumes:
      - influxdb-dev-data:/var/lib/influxdb
    ports:
      - "${FB_INFLUXDB_PORT:-8086}:8086"
    networks:
      - fastybird
    restart: unless-stopped

  # UI FOR TIME SERIES DATABASE
  chronograf:
    image: chronograf:1.10
    container_name: fastybird-chronograf
    depends_on:
      - influxdb
    command:
      - "--influxdb-url=http://influxdb:8086"
    ports:
      - "${FB_INFLUXDB_UI_PORT:-8888}:8888"
    volumes:
      - chronograf-dev-data:/var/lib/chronograf
    networks:
      - fastybird
    restart: unless-stopped

networks:
  fastybird:
    driver: bridge

volumes:
  influxdb-dev-data:
  chronograf-dev-data:
  server_node_modules:
  admin_node_modules:
