@use 'sass:map';

@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(app-sidebar) {
	border-right: 1px solid var(--el-border-color);

	@include e(logo) {
		height: 55px;
		border-bottom: 1px solid var(--el-border-color);
	}
}

.dark {
	@include b(app-sidebar) {
		@include e(logo) {
			svg {
				filter: drop-shadow(2px 2px 6px #a91b0c);
			}
		}
	}
}
