@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(list-system-logs-adjust) {
  @include e(filter-item) {
    :deep(.el-collapse-item__header) {
      width: auto;
    }

    :deep(.el-input) {
      padding-left: 0.5rem;
      padding-right: 0.51rem;
    }
  }
}
