@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(extensions-filter) {
	@include e(extension-kind) {
		:deep(.el-radio-button__inner) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
