@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(view-extension-detail) {
	@include e(tabs) {
		:deep(.el-tabs__content) {
			flex: 1;
			min-height: 0;
			display: flex;
			flex-direction: column;
		}

		:deep(.el-tab-pane) {
			flex: 1;
			min-height: 0;
			height: 100%;
		}
	}
}
